@{
    Layout = "_Layout";
}

<div class="jumbotron">
    <h1>Bookstore</h1>
    <p>This is a web application that manages the inventory of a bookstore</p>
    <a class="btn btn-primary" href="/books">Go to books</a>
</div>
