html {
    height: 100%;
}
body {
    padding-top: 64px;
    height:100%;
}
#wrapper {
   min-height:100%;
   position:relative;
}
#MainContent {
   
   padding-bottom:50px;   /* Height of the footer */
}
footer {
position:absolute;
   bottom:0;
   width:100%;
   height:50px; 
    background-color: black;
    font-size: 12px;
    
}
footer p {
    margin: 1em 0 1em 0;
}

.navbar {
    -ms-border-radius: 0px;
    border-radius: 0px;
}

table tr td.buttons {
width:1%;
white-space: nowrap;
}

span.label {
    margin:0 5px;
}
.alert.alert-warning {
    margin-top:10px;
}
.table-responsive {
    margin-top:10px;
}
.ui-select-choices {
z-index:10 !important;
}

#tags {
    margin-top:10px;
    
}
#tags span{
    display: inline-block;
}
.close-button:hover {
    cursor:pointer;
}