<wait-cursor display-when="vm.isBusy"></wait-cursor>
<div class="panel-danger" ng-show="vm.errorMessage">{{ vm.errorMessage }}</div>
<div class="col-md-6" ng-hide="vm.isBusy">
    <h2>Edit {{vm.book.title}}</h2>
    <form ng-hide="vm.isBusy" name="editBookForm" novalidate ng-submit="vm.updateBook()">
        <input type="hidden" ng-model="vm.book.bookId" />
        <div class="row">
            <div class="form-group col-xs-6">
                <label for="title">Title</label>
                <input class="form-control"
                       type="text"
                       id="title" name="title"
                       ng-model="vm.book.title"
                       required ng-minlength="5" ng-maxlength="100" />
                <div ng-show="editBookForm.$submitted || editBookForm.title.$touched">
                    <span ng-show="editBookForm.title.$error.required"
                          class="text-warning">
                        The title is required.
                    </span>
                    <span ng-show="editBookForm.title.$error.minlength"
                          class="text-warning">
                        The title must be between 5 and 100 characters
                    </span>
                    <span ng-show="editBookForm.title.$error.maxlength"
                          class="text-warning">
                        The title be between 5 and 100 characters
                    </span>
                </div>
            </div>
            <div class="form-group col-xs-6">
                <label for="author">Author</label>
                <input class="form-control"
                       type="text"
                       id="author" name="author"
                       ng-model="vm.book.author"
                       required ng-minlength="5" ng-maxlength="100" />
                <div ng-show="editBookForm.$submitted || editBookForm.author.$touched">
                    <span ng-show="editBookForm.author.$error.required"
                          class="text-warning">
                        The author is required.
                    </span>
                    <span ng-show="editBookForm.author.$error.minlength"
                          class="text-warning">
                        The author's name must be between 5 and 100 characters
                    </span>
                    <span ng-show="editBookForm.author.$error.maxlength"
                          class="text-warning">
                        The author's name must be between 5 and 100 characters
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-6">
                <label for="numberOfPages">Pages</label>
                <input class="form-control"
                       type="number"
                       id="numberOfPages" name="numberOfPages"
                       ng-model="vm.book.numberOfPages"
                       required />
                <div ng-show="editBookForm.$submitted || editBookForm.numberOfPages.$touched">
                    <span ng-show="editBookForm.numberOfPages.$error.required"
                          class="text-warning">
                        The number of pages is required.
                    </span>
                </div>
            </div>
            <div class="form-group col-xs-6">
                <label for="publicationDate">Publication date</label>
                <input class="form-control datepicker"
                       type="text"
                       id="publicationDate" name="publicationDate"
                       ng-model="vm.book.publicationDate"
                       required />
                <div ng-show="editBookForm.$submitted || editBookForm.publicationDate.$touched">
                    <span ng-show="editBookForm.publicationDate.$error.required"
                          class="text-warning">
                        The publication date is required.
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Tags</label>
            <ui-select multiple tagging="vm.tagTransform" ng-model="vm.book.tags" theme="bootstrap" style="width: 100%;" title="Choose tags">
                <ui-select-match placeholder="Select tag...">{{$item.name}}</ui-select-match>
                <ui-select-choices repeat="tag in vm.tags | propsFilter: {name: $select.search}">
                    <div ng-if="tag.isTag" ng-bind-html="(tag.name | highlight: $select.search) +' (new)'"></div>
                    <div ng-if="!tag.isTag" ng-bind-html="tag.name + tag.isTag| highlight: $select.search"></div>

                </ui-select-choices>
            </ui-select>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control"
                      cols="100"
                      rows="6"
                      id="description" name="description"
                      ng-model="vm.book.description"
                      required></textarea>
            <div ng-show="editBookForm.$submitted || editBookForm.description.$touched">
                <span ng-show="editBookForm.description.$error.required"
                      class="text-warning">
                    The description is required.
                </span>
            </div>
        </div>
        <div class="form-group">
            <input type="submit"
                   value="Save"
                   class="btn btn-success"
                   ng-disabled="editBookForm.$invalid" />
        </div>
    </form>
</div>