@{
    Layout = "_Layout";
}
@section styles{
    <link href="~/Client/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

}

<div class="row" ng-app="app-tags">
    <div ng-view></div>
</div>

@section scripts{
    <script src="~/Client/lib/angular/angular.min.js"></script>
    <script src="~/Client/lib/angular-route/angular-route.min.js"></script>
    
<script src="~/Client/lib/angular-sanitize/angular-sanitize.min.js"></script>

<script src="~/Client/lib/_app/js/app-tags.js"></script>
<script src="~/Client/lib/_app/js/tags-controller.js"></script>
<script src="~/Client/lib/_app/js/simple-controls.js"></script>
<script src="~/Client/lib/_app/js/site.js"></script>
<

}